<div class="container is-one-quarter">
  <h1 class="title has-text-centered pt-6">About us</h1>

  <h1 class="text is-2 has-text-centered pt-4">
    We are FosterCats, a compassionate haven for our feline friends in the heart
    of Sweden's beautiful region, Småland. Founded by a group of dedicated cat
    lovers, our organization is committed to providing a safe and loving
    environment for cats in need.
  </h1>

  <h1 class="title is-2 has-text-centered pt-4">Our Mission</h1>
  <p class="text has-text-centered">Our mission is simple yet profound: to
    rescue, rehabilitate, and rehome cats in Småland and surrounding areas. We
    are driven by a deep love for these precious animals and an unwavering
    commitment to their welfare.
  </p>

  <h1 class="title is-2 has-text-centered pt-4">What We Do</h1>
  <p class="is-size-5 has-text-centered has-text-weight-semibold">Rescue and
    Rehabilitation:</p>

  <p class="text has-text-centered pt-2">We rescue cats from various situations,
    including abandonment, abuse, and neglect. Our team of dedicated volunteers
    and foster families provide them with medical care, love, and support to
    help them heal and recover.</p>

  <p class="is-size-5 has-text-centered has-text-weight-semibold">Foster Care:</p>

  <p class="text has-text-centered pt-2">Our organization operates a network of
    loving foster homes where cats receive individualized care and attention.
    Foster care allows us to understand each cat's unique personality, needs,
    and preferences, enabling us to match them with the perfect forever home.</p>

  <p class="is-size-5 has-text-centered has-text-weight-semibold">Adoption:</p>

  <p class="text has-text-centered pt-2">We work tirelessly to find loving,
    forever homes for our rescued cats. Our adoption process is thorough but
    straightforward, ensuring that our feline friends go to homes where they
    will receive the love and care they deserve.</p>
</div>