<h1 class="title has-text-centered pt-6">
  Available Cats
</h1>
<h5 class="title is-5 has-text-centered pt-2">
  You can visit our available cats at our local shelter or buy booking an
  appointment at one of our foster homes.
</h5>

{{#if dbError}}
  <p class="subtitle has-text-centered" style="margin-top:100px ;">Couldn't
    display the page right now, try again later</p>
  <div class="column has-text-centered">
    <a href="/" class="button is-responsive mt-2">Go to start page</a>
  </div>
{{else}}
  <body>
    {{#if allAvailableCats.length}}
      <section class="section">
        <div class="container">
          <div class="columns is-multiline is-8 is-variable">
            {{#each allAvailableCats}}

              <div class="column is-4-tablet is-3-desktop">
                <section class="container">

                  <div class="has-text-centered">
                    <a
                      href="/available-cat/{{availableCatID}}"
                      class="subtitle is-centered has-text-centered"
                    >{{this.name}}</a>

                  </div>
                </section>
              </div>

            {{/each}}
          </div>
        </div>
      </section>
    {{else}}
      <div class="colums has-text-centered">
        <div class="column subtitle">

        </div>
      </div>
    {{/if}}
  </body>
{{/if}}