<h1 class="title has-text-centered pt-6">
  Contact information
</h1>
<h1 class="title has-text-centered pt-2"></h1>
<p class="text is -5 has-text-centered pt-2">If you have any questions, want to
  adopt a cat, or are interested in supporting our cause, please don't hesitate
  to get in touch. FosterCats is here to make a difference in the lives of cats
  and the people of Småland. Together, we can create a brighter future for
  felines in need. Join us in our journey to make Småland a true haven for all
  cats. Thank you for visiting FosterCats.
</p>

<p
  class="subtitle has-text-centered pt-1 has-text-weight-semibold"
>0732-7778899</p>
<p
  class="subtitle has-text-centered pt-1 has-text-weight-semibold"
>fostercats@email.com</p>