<h1 class="title has-text-centered pt-6">
  Interested in becoming a foster home?
</h1>
<p class="text has-text-centered pt2">We welcome individuals, families, and
  businesses to join us in our mission to make Småland a better place for cats.
  You can get involved in various ways, from becoming a foster family to
  donating, volunteering, or adopting one of our lovable cats.</p>