<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link rel="stylesheet" href="/startLayout.css">
</head>

<h1 class="title has-text-centered pt-6">
    Welcome to Foster Cats 
</h1> 


<div class="section column has-text-centered">
    <p>kjbfeblbaefbelhjfbjrg.
    </p>
    <p>kjbfljwbgljawbflarbf
    </p>
</div>

