<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link rel="stylesheet" href="/startLayout.css">
</head>

<h1 class="title has-text-centered pt-6">
    Welcome to Foster Cats 
</h1> 


<div class="section column has-text-centered">
   <p>Welcome to FosterCats! </p>
   <p>Where Every Cat's Journey Begins</p>
   <p>At FosterCats, we open our hearts and our homes to cats in need across the scenic landscapes of Småland, Sweden.
    Our organization is a sanctuary for these incredible creatures, a place where their stories of hope, resilience, and love unfold. </p>
</div>

